<div class="container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>Edit question</h1>
    </div>
    <div class="rating-form">
      <form class="form-horizontal">

        <%= form_tag "/questions/#{@question.id}", method: :patch do %>
    
        <%= render "form" %>

        <div class="form-group">
          <%=label_tag :section, nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= collection_select :section, :section_id, Section.all, :id, :name, {:selected => @question.section.id}, class: "form-control" %>
          </div>
        </div>

        <%= submit_tag "Update Question", class: "btn btn-default" %>

      <% end %>

      </form>
    </div>
  </div>
</div>