<div class="site-container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>LOI Questions</h1>
    </div>


    <div class="add-question">
    <%= link_to "Add New Field", "/questions/new", :class => "btn btn-warning btn-question", :role => "button" %>
    </div>

    <ol>
      <% @sections.each do |section| %>
        <li><h4> <%= section.name %> </h4></li>
        
        <ul>
          <% @questions.each do |question| %>
            <% if question.section_id == section.id %>
              <li><p> <%= question.question %> <%= link_to "View All", "questions/#{question.id}", :class => "btn btn-custom", :role => "button" %>
                  <%= link_to "Edit", "/questions/#{question.id}/edit", :class => "btn btn-custom", :role => "button" %></p>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </ol>
  </div>
</div>