<div class="site-container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>LOI Questions</h1>
    </div>


    <div class="add-question">
      <%= link_to "Add New Question", "/questions/new", :class => "btn btn-primary btn-question", :role => "button" %>
    </div>

    <ol style="width:90%;margin:auto;">
      <% @sections.each do |section| %>
        <h2><li> <%= section.name %> </li></h2>
          <table class="table table-striped" style="margin-bottom:30px;">
            <% @questions.each do |question| %>
              <tr>
                <% if question.section_id == section.id %>
                  <td style="width: 80%">
                    <h4> <%= question.question %>. </h4>
                  </td>
                  <td style="width: 10%;text-align:right;">
                    <% if question.question == 'Organization' %>
                      <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Currently unable to Edit">Edit</button>
                    <% else %>
                      <%= link_to "Edit", "/questions/#{question.id}/edit", :class => "btn btn-primary", :role => "button" %>
                    <% end %>
                  </td>
                  <td style="width: 10%;text-align:center;">
                    <% if question.question == 'Organization' %>
                      <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Currently unable to Delete">Delete</button>
                    <% else %>
                      <%= link_to "Delete", "/questions/#{question.id}", :class => "btn btn-warning", :role => "button", :method => :delete, :confirm => "Are you sure?" %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
      <% end %>
      <div><p>*In the Organization Section please use "Number" or "Budget" in the question if you want the field to be a number.</p></div>
    </ol>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>