<h1> Please add a field to the form </h1>

<%= form_tag '/questions', method: :post do %>
    
    <div>
      <%=label_tag :question %>
      <%= text_field_tag :question %>
    </div>

    <div class="input-group">
      <%=label_tag :section %>
      <%= collection_select :section, :section_id, Section.all, :id, :name, {:style => "width:200px"}, class: "form-control" %>
    </div>

    <%= submit_tag "Submit" %>

<% end %>