<div class="rating-form">

  <form class="form-horizontal">

        <div class="form-group rtf">
          <%= label_tag "Fits Svp's Criteria:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q1, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], selected: @rating.q1), :prompt => "Rate 1 - 5", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Serves target population:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q2, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], selected: @rating.q2 ), :prompt => "Rate 1 - 5", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Potential for growth?:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q3, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], selected: @rating.q3 ), :prompt => "Rate 1 - 5", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "SVP's potential impact:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q4, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], selected: @rating.q4 ), :prompt => "Rate 1 - 5", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "results:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q5, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], selected: @rating.q5 ), :prompt => "Rate 1 - 5", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Quality of leadership:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q6, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], selected: @rating.q6 ), :prompt => "Rate 1 - 5", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Board of Directors:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q7, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], selected: @rating.q7 ), :prompt => "Rate 1 - 5", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Questions about their board:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q8, options_for_select([['yes', true], ['no', false]], selected: @rating.q8 ), :prompt => "Choose yes or no", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Notes about board:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= text_field_tag(:q8_notes, "Enter text here") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Does funding model:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q9, options_for_select([['yes', true], ['no', false]], selected: @rating.q9 ), :prompt => "Choose yes or no", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Notes about funding:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q10, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], selected: @rating.q10 ), :prompt => "Rate 1 - 5", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "questions about funding model:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= text_field_tag(:q10_notes, "Enter text here") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Excitment:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q11, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], selected: @rating.q11 ), :prompt => "Rate 1 - 5", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Invite organisation to present?:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= select_tag(:q12, options_for_select([['yes', true], ['no', false], selected: @rating.q12 ]), :prompt => "Choose yes or no", class: "form-control") %>
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Follow up questions:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= text_field_tag(:q13, "Enter text here", class: "form-control") %>          
          </div>
        </div>

        <div class="form-group rtf">
          <%= label_tag "Comments:", nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= text_field_tag(:comments, @rfp || "Enter text here", class: "form-control") %>
          </div>
        </div>

        <%= hidden_field_tag :rfp_id, @rfp_id %>
</div>      
