<!-- Main Site Container -->
<div class="site-container">
  <!-- This is a class meant to look like a sheet of paper? -->
  <div id="form-paper">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <%= image_tag("svp_logo.jpg", size: "400x175") %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="home-text">
          <h2> Social Venture Partners <span style="color:#0060b2">Chicago</span></h2>
          <h3><strong><%= @landing.year %> Letter of Interest Form</strong> </h3>
          <h3>Sector Focus: <i><span style="color:#BC214D">
          <%= @landing.sector_focus %>
          </span></i></h3>
        </div>
      </div>
    </div>

    <hr>


  <div class="container">
    <div class="row">
      <h2><%= simple_format(@landing.main_points, class:"main-points") %></h2>
    </div>
  </div>


    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="home-section">
          <h2>
            <i>We encourage your organization to submit this Letter of Interest if...</i></h2>
       
            <h3>
              <ul>
                <%= simple_format(@landing.gray_section, class:"gray-section") %>
              </ul>
          </h3>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <h2><%= simple_format(@landing.last_point, class:"main-points") %></h2>
      </div>
    </div>


    <div class="get-started">

      <% if current_user %>
  
          <%= link_to "Get Started!", "/users/#{current_user.id}", :class => "btn btn-lg btn-primary", :role => "button" %>

      <% else %>
      
          <%= link_to "Get Started!", "/", :class => "btn btn-lg btn-primary", :role => "button" %>

      <% end %>
    </div>

    </div>
  </div>
</div>
