<div class="site-container">
  <div id="form-paper">
  <div class="thank-you-container"> 
    <a href="http://www.socialventurepartners.org/chicago/"><%= image_tag("svp_logo.jpg") %></a>

    <% if @loi.submitted %>

      <h1>Thank you for your submission, <%= @loi.name %>!</h1>
      <p>You should recieve a confirmation email at <%= @loi.email %>. </p>
      <p> Have a nice day! </p>

    <% else %>
      
      <h1>Thank you for your starting an application, <%= @loi.name %>! </h1>
      <p>Please click below to continue submitting a Letter of Interest.</p>
      <p> Have a nice day! </p>

    <% end %>


    <br>
    <%= link_to "My Applications", "/users/#{current_user.id}", class: "btn btn-primary" %>
    <br>
    </div>
  </div>
</div>
