<div class="container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>Edit an RFP question</h1>
    </div>
    <div class="rating-form">
      <div class="form-horizontal">

      <%= form_tag "/rfp_questions/#{@rfp_question.id}", method: :patch do %>

        <%= render "form" %>

        <div class="form-group">
          <%= label_tag :rfp_section, nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= collection_select :rfp_section, :rfp_section_id, RfpSection.all, :id, :name, {:selected => @rfp_question.rfp_section.id}, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag :word_limit, nil, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_field_tag 'word_limit', @rfp_question.word_limit, class: "form-control" %>
          </div>
        </div>

        <%= submit_tag "Submit", class: "btn btn-custom" %>

      <% end %>

    </div>
    <div style="text-align:left;">
      <h4>Question Type: <%= @rfp_question.question_type %> </h4>
      <br>
      <% if @rfp_question.question_type == 'block' || @rfp_question.question_type == 'block with multiple inputs' %>
      <h4>Sub Questions:</h4>
      <table class="table">
        <% @rfp_question.sub_questions.each do |sub_question| %>
        <tr>
          <td>
          <p><%= sub_question.question %></p>
          </td>
            <td><%= link_to "Edit", "/sub_questions/#{sub_question.id}/edit", class: "btn btn-primary"%></td>
            <td><%= link_to "Delete", "/sub_questions/#{sub_question.id}", :class => "btn btn-warning", :role => "button", :method => :delete, data: { :confirm => "Are you sure?" } %></td>
          </tr>
        <% end %>
        </table>
      <% end %>
      </div>
    </div>
  </div>