<div class="site-container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>RFP Questions</h1>
    </div>

    <div class="add-question">
      <%= link_to "Add New Question", "/rfp_questions/new", :class => "btn btn-primary btn-question", :role => "button" %>
      <%= link_to "Add New Section", "/rfp_sections/new", :class => "btn btn-primary btn-question", :role => "button" %>
    </div>

    <ol style="width:90%;margin:auto;">
      <% @rfp_sections.each do |section| %>
        <h2><li><%= section.name %><%= link_to "Edit", "/rfp_sections/#{section.id}/edit", :class => "btn btn-custom", :role => "button" %></li></h2>
        <table class="table table-striped" style="margin-bottom:30px;">
          <% section.rfp_questions.where(is_active: true).each do |question| %>
            <tr>
              <% if question.rfp_section_id == section.id %>
                <td style="width: 80%">
                  <h4> <%= question.question %>. </h4>
                </td>
                <td style="width: 10%;text-align:right;">
                  <% if question.question == 'Organization' %>
                      <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Currently unable to Edit">Edit</button>
                  <% else %>
                    <!-- don't forget to change the link -->
                    <%= link_to "Edit", "", :class => "btn btn-primary", :role => "button" %>
                  <% end %>
                </td>
                <td style="width: 10%;text-align:center;">
                  <% if question.question == 'Organization' %>
                    <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Currently unable to Delete">Delete</button>
                  <% else %>
                    <%= link_to "Delete", "", :class => "btn btn-warning", :role => "button", :method => :delete, :confirm => "Are you sure?" %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% end %>
    </ol>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
