<div class="site-container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>RFP Questions</h1>
    </div>

    <div class="add-question">
      <%= link_to "Add New Question", "/rfp_questions/new", :class => "btn btn-primary btn-question", :role => "button" %>
      <%= link_to "Add New Section", "/rfp_sections/new", :class => "btn btn-primary btn-question", :role => "button" %>
    </div>

    <div>
      <ol>
        <% @rfp_sections.each do |section| %>
          <h2><li><%= section.name %><%= link_to "Edit", "/rfp_sections/#{section.id}/edit", :class => "btn btn-custom", :role => "button" %></li></h2>
          <ul>
            <% section.rfp_questions.each do |question| %>
              <% if question.is_active? %>
                <li>
                  <p>
                    <%= question.question %>
                    <%= link_to "Edit", "/rfp_questions/#{question.id}/edit", :class => "btn btn-custom", :role => "button" %>
                  </p>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </ol>

    </div>
  </div>

