<div class="container">
    <h1 class="head">LOI submissions </h1>
  <div class="col-xs-12">
    <table class="table table-hover table-bordered" id="loi-table">
      <tr>
        <td><p><%= index+1 %></p></td>
        <td><p><%= link_to(loi.name, "/lois/#{loi.id}") %></p></td>
        <td><p><%= loi.email %></p></td>
        <td>
          <%= link_to "View", "/lois/#{loi.id}", :class => "btn btn-default", :role => "button" %>
          <%= link_to "Rate", "/ratings/new?loi=#{loi.id}", :class => "btn btn-default", :role => "button" %>
          <% if user_signed_in? && current_user.admin %>
         <!--  <%= link_to "Delete", "/lois/#{loi.id}", method: :delete, data:{confirm: "Are You Sure"}, :class => "btn btn-default", :role => "button" %> -->
        <% end %>
        </td>
        <th>#</th>
        <th>name</th>
        <th>email</th>
        <th> Action?</th>
      </tr>
      <% @lois.each_with_index do |loi, index| %>
        <tr>
          <td><p><%= index+1 %></p></td>
          <td><p><%= link_to(loi.name, "/lois/#{loi.id}") %></p></td>
          <td><p><%= loi.email %></p></td>
            <td>
              <div class="center-btn"><%= link_to "View", "/lois/#{loi.id}", :class => "btn btn-custom", :role => "button" %>
              <%= link_to "Rate", "/ratings/new?loi=#{loi.id}", :class => "btn btn-custom", :role => "button" %>
              <% if user_signed_in? && current_user.admin %>
             <%= link_to "Delete", "/lois/#{loi.id}", method: :delete, data:{confirm: "Are You Sure"}, :class => "btn btn-custom", :role => "button" %>
              <% end %>
            </div>
            </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>