<div class="container">
  <div id="form-paper">
    <div class="form-heading">
      <h1>SVP Users</h1>
    </div>
    <table class="table table-hover table-bordered">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Last login</th>
        <th>Admin?</th>
        <% if user_signed_in? && current_user.admin %>
          <th> </th>
        <% end %>
      </tr>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td><p><%= index+1 %></p></td>
          <td><p><%= user.email %></p></td>
          <td><p><%= user.last_sign_in_at %></p></td>
          <td><p><%= user.admin ? "Yes" : "No" %></p></td>
          <% if user_signed_in? && current_user.admin %>
          <td> <div class="center-btn"><%= link_to "Change", "/users/#{user.id}", method: :patch, data:{confirm: "Are you sure you'd like to change admin status?"}, :class => "btn btn-custom", :role => "button" %> </td></div>
        <% end %>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>