<div class="site-container">
  <div id="form-paper">
    <div class="user">
      <div class="row">
        <div class="col-md-6">
          
          <h2>Welcome!</h2>
          <h4>You are currently logged in as: <%= @user.email %> </h4>
          <br>
          <% if @user.admin && !@user.super_admin %>
            <h5> You currently have administrator privileges.</h5>
            <h5> You can: </h5>
            <ul>
              <li>Review all the submitted LOIs <a href="/lois">here</a>.</li>
              <li>You can see a list of your ratings <a href="/ratings">here</a>.</li>
            </ul>
          <% elsif @user.admin && @user.super_admin %>
            <h5> You currently have super-administrator privileges.</h5>
            <h5> You can: </h5>
            <ul>
              <li>Review all the submitted LOIs: 
              <%= link_to "LOIs", "/LOIs", class: "btn btn-default" %></li>
              <li>You can see a list of all ratings:
              <%= link_to "Ratings", "/ratings", class: "btn btn-default" %></li>
              <li>You can see a list of users: 
              <%= link_to "Users", "/users", class: "btn btn-default" %></li>
              <li>You can add, edit or delete LOI questions:
              <%= link_to "LOI Questions", "/questions", class: "btn btn-default" %></li>
              <li>You can add, edit or delete RFP questions:
              <%= link_to "RFP Questions", "/rfp_questions", class: "btn btn-default" %></li>
            </ul>
          <% elsif @user_loi_status  %>
            <h4>Congratulations! Your LOI has been approved and you have been invited to fill an RPF form. </h4>
              <p><a href="/rfps/new" class="btn btn-success">Click for RFP form</a></p>

            <% else %>

            <h5>You can submit a Letter of Interest (LOI) to SVP-Chicago.</h5>
              <a href="/lois/new" class="btn btn-primary">Click for LOI form</a>
          <% end %>
          <br>
        </div>

        <div class="col-md-6">
          <% if @user.admin %>
            <h4>View available Forms</h4>
            <h5>These are the forms that are currently available:</h5>
            <p><%= link_to "LOI Form", "/lois/new", class: "btn btn-default" %></p>
            <p><%= link_to "RFP Form", "/rfps/new", class: "btn btn-default" %></p>
            <br>
          <% end %>
          
          <% if !@user.lois.empty? %>
            <h4>Your Previous Submissions:</h4>
            <ul>
            <% @user.lois.each do |loi| %>
              <% if loi.submitted %>
                <li> You submitted a letter of interest on  <%= loi.friendly_loi_time %>:
                <%= link_to "View LOI", "/lois/#{loi.id}", class: "btn btn-default" %></li>
              <% else %>
              <li> You edited a letter of interest form on <%= loi.friendly_loi_time %>:
                <%= link_to "Continue LOI", "/lois/#{loi.id}/edit", class: "btn btn-default" %></li>
              <% end %>
            <% end %>
            </ul>
          <% end %>
        

        </div>
      </div>
    </div>
  </div>
</div>

