<div class="site-container">
  <div id="form-paper">
    <div class="user">
      <div class="row">
        <div class="col-md-6">

          <h1>Welcome!</h1>
        
          <br>
          
          <% if @user.admin && !@user.super_admin %>
            <h4>You are currently logged in with administrator privileges as: <%= @user.email %> </h4>
            <table class="table table-hover">
            <tr>
            </tr>
            <ul>
            <tr>
              <td><a href="/lois" class="btn btn-primary btn-s">Review all the submitted LOIs</a></td>
              <td><a href="/ratings" class="btn btn-primary btn-s">See a list of your ratings</a></td>
              </tr>
            </ul>
            </table>
          <% elsif @user.admin && @user.super_admin %>
            <h4>You are currently logged in with super-administrator priviliges as: <%= @user.email %> </h4>
            <table class="table table-hover">
            <tr>
            </tr>
            <tr>
            <br>
            <ul>
              <td style="text-align: center;" ><%= link_to "Review all submitted LOIs", "/lois", {:style=>'width: 235.03px;', :class=>'btn btn-primary btn-s'} %></td>
            
              <td style="text-align: center;"><%= link_to "See a list of all ratings", "/ratings", {:style=>'width: 235.03px;', :class=>'btn btn-primary btn-s'}%></td>
          </tr>
          <tr>
              <td style="border-top: none; text-align: center;"><%= link_to "See list of all users", "/users",  {:style=>'width: 235.03px;', :class=>'btn btn-primary btn-s'} %></td>
             
              <td style="border-top: none; text-align: center;"><%= link_to "Add, Edit or Delete LOI questions", "/questions", {:style=>'width: 235.03px;', :class=>'btn btn-primary btn-s'}%></td>
              </tr>
              </table>
              <% if false %>
                <li>You can add, edit or delete RFP questions:
                <%= link_to "RFP Questions", "/rfp_questions", class: "btn btn-default btn-xs" %></li>
              <% end %>
            </ul>
          <% elsif @user_loi_status %>
            <h4>Congratulations! Your LOI has been approved and you have been invited to fill an RFP form. </h4>
              <p><a href="/rfps/new" class="btn btn-success">Click for RFP form</a></p>
            <% else %>
            <h5>You can submit a Letter of Interest (LOI) to SVP-Chicago.</h5>
              <a href="/lois/new" class="btn btn-primary">Click for LOI form</a>
          <% end %>
          <br>
        </div>
        <div class="col-md-6">
          <% if @user.admin %>
            <h2>View available Forms</h2>
            <br>
            <h4 style="padding-top: 7px;">These are the forms that are currently available:</h4>
            <p><%= link_to "LOI Form", "/lois/new", class: "btn btn-default btn-xs" %></p>
            <% if false %>
              <p><%= link_to "RFP Form", "/rfps/new", class: "btn btn-default" %></p>
            <% end %>
            <br>
          <% end %>
          <% if !@user.lois.empty? %>
            <h4>Your Previous LOI Submissions:</h4>
            <ul>
            <% @user.lois.each do |loi| %>
              <% if loi.submitted %>
                <li> You submitted a letter of interest on  <%= loi.friendly_loi_time %>:
                <%= link_to "View LOI", "/lois/#{loi.id}", class: "btn btn-default" %></li>
              <% else %>
              <li> You edited a letter of interest form on <%= loi.friendly_loi_time %>:
                <%= link_to "Continue LOI", "/lois/#{loi.id}/edit", class: "btn btn-default" %></li>
              <% end %>
            <% end %>
            </ul>
          <% end %>

          <% if !@user.rfps.empty? %>
            <h4>Your Previous RFP Submissions:</h4>
            <ul>
            <% @user.rfps.each do |rfp| %>
              <% if rfp.submitted %>
                <li> You submitted a request for proposal on  <%= rfp.friendly_loi_time %>:
                <%= link_to "View RFP", "/rfps/#{rfp.id}", class: "btn btn-default" %></li>
              <% else %>
              <li> You edited a request for proposal form on <%= rfp.friendly_loi_time %>:
                <%= link_to "Continue RFP", "#", class: "btn btn-default" %></li>
              <% end %>
            <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

