<div class="site-container">
  <div id="form-paper">
    <div ng-app="app">
      <div ng-controller="rfpsIndexCtrl" ng-init="setupShow()">
      <div class="form-heading">
        <h1>
          RFP Submission Review
          <% if current_user.admin %>
            <% if current_user.rfp_ratings.find_by(rfp_id: @rfp.id) != nil %>
              <div id="rating-pullout-button">
                <button type="button" class="btn btn-danger" data-toggle="collapse" aria-expanded="false" aria-controls="rfp-ratings" data-target="#rfp-ratings">Edit Ratings</button>
              </div>

               <div id="rating-pullout">

                <%= form_tag "/rfp_ratings/#{@rating.id}", method: :patch do %>

                <%= render "form" %>

                            <td id="button1" class="rfp-rating-button">
                              <%= hidden_field_tag :rfp_id, @rfp.id %>
                              <%= submit_tag 'Edit Rating', class: "btn btn-primary" %>
                            </td>
                          </tr>
                        </table>
                      </form>
                    </div>
                    </div>
                  <% end %>
                </div>

            <% else %>
            <div id="rating-pullout-button">
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#rfp-ratings">Rate this RFP</button>
            </div>

            <div id="rating-pullout">

                  <%= form_tag "/rfp_ratings", method: :post do %>

                  <%= render "form" %>
                    
                            <td id="button1" class="rfp-rating-button">
                              <%= hidden_field_tag :rfp_id, @rfp.id %>
                              <%= submit_tag 'Submit Rating', class: "btn btn-primary" %>
                            </td>
                          </tr>
                        </table>
                      </form>
                    </div>
                    </div>
                  <% end %>
                  </div>
              <% end %>
            <% end %>
          </h1>
      </div>

          <div class="form-body">
            <ol class="form-list">
              <!-- REPEAT SECTIONS -->
              <div ng-repeat= "section in sections track by $index" >

                <div>
                  <h1> {{section.rfp_section}} </h1>

                  <!-- REPEAT RFP-QUESTIONS -->
                  <table class="table table-striped table-bordered">
                    <div ng-repeat="question in section.rfp_questions">


                      <tr ng-repeat="question in section.rfp_questions">

                        <td class="td-question">
                          <b>
                            {{question.rfp_question}}:
                          </b>
                        </td> 

                        <td class="td-answer" ng-if="question.rfp_answer != null && question.rfp_answer != 'See Subs'">
                          {{question.rfp_answer}}
                        </td>

                        <td class="td-answer" ng-if="question.rfp_answers != null">
                            <table class="table table-striped table-bordered">

                              <!-- REPEAT MULTIPLE INPUTS -->
                              <tr ng-repeat="answer in question.rfp_answers">
                                <td class="td-answer">
                                  {{answer.rfp_answer}}
                                </td>
                              </tr>
                              <!-- END REPEAT MULTIPLE INPUTS -->

                            </table>
                        </td>

                        <td class="td-answer" ng-if="question.rfp_answer != null && question.rfp_answer == 'See Subs'">
                          <div class="row">
                            <div class="col-md-4" ng-if="question.question_type == 'block with multiple inputs'" ng-repeat="sub_question in question.sub_questions">
                              
                              <p align="center" style="height:35px;">
                                <b>{{sub_question.sub_question}}: </b>
                              </p>

                              
                             
                              <p ng-repeat="sub_answer in sub_question.sub_answers" class="td-answer">
                                {{sub_answer.sub_answer}}
                              </p>
                            </div>
                          </div>


                            <tr ng-if="question.question_type != 'block with multiple inputs'" ng-repeat="sub_question in question.sub_questions">
                              <td class="td-question">
                                <b>
                                  {{sub_question.sub_question}}: 
                                </b>
                              </td>

                              <td class="td-answer">
                                {{sub_question.sub_answer}}
                              </td>
                            </tr>


                        </td>

                      </tr>

                    </div>
                  </table>
                  <!-- END REPEAT RFP-QUESTIONS -->
                </div>
              </div>
                <h1> Uploaded Forms</h1>
                <h4 style="color:blue;"> Click icon to download</h4>
               <div>

                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

 
                <% @attachments.each do |attachment| %>
                  <%if attachment.url != nil %>
                    <h5><%=attachment.doc_type%></h5>
                    <a href="<%=attachment.url %>" target="_blank"><i class="fa fa-file-text-o" style="font-size:24px"></i></a>
                  <%end%>
                <% end %>

                <div>
              <!-- END REPEAT SECTIONS -->
              <ol>
              </div>
            </div>
         
          </div>
        </div>

      </div>
    </div> 

    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>