<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mailer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mailer.email %>
</p>

<p>
  <strong>Login:</strong>
  <%= @mailer.login %>
</p>

<%= link_to 'Edit', edit_mailer_path(@mailer) %> |
<%= link_to 'Back', mailers_path %>
