<!DOCTYPE html>
<html>
<head>
  <title>SvpChicago</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>U down with SVP?</h1>

<% flash.each do |name, message| %>
	<div class="row">
		<div class="col-md-12 alert-rel-navbar">
			<div class="alert alert-<%= name == "alert" || name == "notice" ? "warning" : name %> alert-dismissable fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= message %></div>
		</div>
	</div>
<% end %>

<%= yield %>

<% if user_signed_in? %>
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% end %>
</body>
</html>
